<.header>
  New Chess game
  <:subtitle>Use this form to manage chess_game records in your database.</:subtitle>
</.header>

<.chess_game_form changeset={@changeset} action={~p"/play"} />

<.back navigate={~p"/play"}>Back to chess_games</.back>
