<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jahid Khan">
    <link rel="stylesheet" href={~p"/css/app.css"}/>

    <title>Chess</title>
</head>

<body>

    <h1>Chess</h1>
    <h2 id="tog">White's Turn</h2>

    <div class="chessboard">
        <!-- Black pieces -->
        <div class="box" id="b801">♜</div>
        <div class="box" id="b802">♞</div>
        <div class="box" id="b803">♝</div>
        <div class="box" id="b804">♛</div>
        <div class="box" id="b805">♚</div>
        <div class="box" id="b806">♝</div>
        <div class="box" id="b807">♞</div>
        <div class="box" id="b808">♜</div>

        <!-- Black pawns -->
        <div class="box" id="b701">♟</div>
        <div class="box" id="b702">♟</div>
        <div class="box" id="b703">♟</div>
        <div class="box" id="b704">♟</div>
        <div class="box" id="b705">♟</div>
        <div class="box" id="b706">♟</div>
        <div class="box" id="b707">♟</div>
        <div class="box" id="b708">♟</div>

        <!-- Empty squares -->
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <!-- White pawns -->
        <div class="box" id="b201">♙</div>
        <div class="box" id="b202">♙</div>
        <div class="box" id="b203">♙</div>
        <div class="box" id="b204">♙</div>
        <div class="box" id="b205">♙</div>
        <div class="box" id="b206">♙</div>
        <div class="box" id="b207">♙</div>
        <div class="box" id="b208">♙</div>

        <!-- White pieces -->
        <div class="box" id="b101">♖</div>
        <div class="box" id="b102">♘</div>
        <div class="box" id="b103">♗</div>
        <div class="box" id="b104">♕</div>
        <div class="box" id="b105">♔</div>
        <div class="box" id="b106">♗</div>
        <div class="box" id="b107">♘</div>
        <div class="box" id="b108">♖</div>
    </div>

</body>

</html>
